<h1>Nos cocktails</h1>
<br>
<%= link_to 'Ajouter un cocktail', new_cocktail_path %>
<br>
<br>
<% @cocktails.each do |cocktail| %>
<h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
<!--   <% if cocktail.photo == true %>
    <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
  <% end %> -->
<% end %>
