<div class="wrapper">


  <div class="container">
    <div class="row">
      <h1 id='cocktail_title' class="col-xs-12">Nos cocktails</h1>
      <div class="legend col-xs-12">
        <p><i class="fas fa-lemon"></i> = number of ingredients</p>
        <p><i class="fas fa-skull"></i> = risk of headache in the morning</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-md-3">
        <%= render "cocktail_card", cocktail: cocktail %>
      </div>

      <% end %>
    </div>
  </div>

  <%= link_to new_cocktail_path do %>
    <div id="button-add-cocktail">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
</div>

